
*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
body{
	background-image: url(imges/午餐背景图（3）.jpg);
}
.top{
	height: 100px;
	/* line-height: 50px; */
}
.top h1{
	line-height: 100px;
	text-align: center;
}
.heart1{
	position: absolute;
	top: 60px;
	left: 182px;
	width: 50px;
	height: 50px;
}
.heart2{
	position: absolute;
	top: 60px;
	left: 360px;
	width: 50px;
	height: 50px;
}
.heart3{
	position: absolute;
	top: 60px;
	left: 542px;
	width: 50px;
	height: 50px;
}
.heart4{
	position: absolute;
	top: 60px;
	left: 745px;
	width: 50px;
	height: 50px;
}
.heart5{
	position: absolute;
	top: 60px;
	left: 938px;
	width: 50px;
	height: 50px;
}
.nav_{
	background-color: #333;
	height: 30px;
}
.nav{
	height: 30px;
	width: 1100px;
	margin: 0 auto;
	
}
.nav ul{
	margin-left: 40px;
	text-align: center;
	line-height: 30px;
}
.nav li{
	float: left;
	margin-left: 70px;
	margin-right: 70px;
	color: #fff;
}
.box{
	width: 1080px;
	height: 450px;
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 50px;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 7560px;
	position: absolute;
	left: -1080px;
}
.slide{
	width: 360px;
	overflow: hidden;
	float: left;
}
.slide img{
	width: 350px;
}
.foward{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	top: 100px;
	line-height: 50px;
	font-size: 100px;
	position: absolute;
	opacity: 0.5;
}
#left{
	left: 20px;
	top: 350px;
}
#right{
	right: 35px;
	top: 350px;
}
.main{
	height: 400px;
}
.main-h{
	height: 100px;
	line-height: 100px;
	color: #336666;
	margin-top: 50px;
}
.main-img{
	height: 250px;
	margin-top: 50px;
	margin-left: 40px;
}
.main h1{
	text-align: center;
}
.main li{
	float: left;
}
.main img{
	margin-left: 20px;
	margin-right: 20px;
	width: 150px;
	height: 150px;
}
.main-word{
	margin: 0 auto;	
	width: 900px;
	background-color: gray;
	display: none;
}
.word-p-h{
	color: red;
	font-size: 20px;
}
#tooltip {
    width: 500px;
    height: 200px;
    position: fixed;
    background: #cc9;
    display: inline;
    border: 1px solid #996;
    border-radius: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.down{
	height: 50px;
}
.active{
	color: red;
}
#follow{
	width: 50px;
	height: 50px;
	position: absolute;
	transition: all 0.6s;
}